<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Umidade do Solo</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-switch.min.css">
	<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
	<script src="js/jquery-2.1.3.min.js"></script>
</head>
<body>
	<div id="topo">
		<div id="planta">
			<div>75%</div>
		</div>		
	</div>
	<div id="conteudo">
		<div class="tabpanel">
			<ul id="tab" class="nav nav-tabs" role="tablist">
				<li class="active" role="apresentaion"><a href="#tabGrafico" aria-controls="tabGrafico" role="tab" data-toggle="tab"><h1>Grafico</h1></a></li>
				<li role="apresentaion"><a href="#configuracoes" aria-controls="configuracoes" role="tab" data-toggle="tab"><h1>Configurações</h1></a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="tabGrafico">
					<h1>Umidade do solo:</h1>
					<!--<canvas id="canvas" height="300" width="1000"></canvas>-->
					<div id="grafico" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="configuracoes">
					<ul id="configTitulo">
						<h2>Gravação de dados:</h2>
						<form class="form-inline" id="setDados">
							<div class="form-group">
								<label for="minutos">Hora:</label>
								<select id="selectHora" class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
									<option>22</option>
									<option>23</option>
									<option>24</option>
								</select>
								<label for="horas">Minuto:</label>
								<input id="inputMinutos" class="form-control" type="number">
								<label for="horas">Numero maximo de resultados:</label>
								<input id="inputMaxDados" class="form-control" type="number">
								<button class="btn btn-success">Salvar</button>
							</div>
						</form>
				
						<li><h2 id="releTitulo">Definir disparo de relé - </h2></li>
						<li><input type="checkbox" name="releStade" checked></li>
					</ul>
					<div id="rele">
						<form id="formRele">
							<div class="form-group">
								<label for="portaRele">Porta relé:</label>
								<select id="portaRele" class="form-control input">
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
								</select>
							</div>
							<div class="form-group">
								<label for="porcetRele">Disparar em:</label>
								<input class="form-control input" type="number" id="porcetRele" placeholder="Ex: 80">
							</div>
							<button type="submit" class="btn btn-success">Salvar</button>
						</form>
					</div>
				</div>
				
			</div><!--Fim tab content-->
			
		</div><!--Fim tab-->
	</div>
	<script src="js/highcharts.js"></script>
	<script src="js/themes/dark-unica.js"></script>
	<script src="js/bootstrap-switch.min.js"></script>
	<script src="js/bootstrap.js"></script>	
	<script src="js/scripts.js"></script>
</body>
</html>